<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>Search - {{ search_text }}</title>

    <!-- CSS  -->
    <link href="{% static 'css/font.css' %}" rel="stylesheet" />
    <link
      href="{% static 'css/materialize.min.css' %}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="{% static 'css/style.css' %}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    <nav class="pink lighten-2" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Bilibili GuiChu</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/video_list">Video List</a></li>
          <li><a href="/up_list">UP List</a></li>
          <li>
            <a href="/search"><i class="material-icons">search</i></a>
          </li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="/video_list">Video List</a></li>
          <li><a href="/up_list">UP List</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>
    <div class="container">
      <br /><br />
      <h1 class="header center orange-text">Search</h1>
      <br />
    </div>

    <div class="container">
      <form class="row" style="margin-bottom: 0px">
        <div class="input-field col s12">
          <div class="row" style="margin-bottom: 0px">
            <label>
              <input name="video" type="radio" checked />
              <span>Video</span>
            </label>
            <label>
              <input name="up" type="radio" />
              <span>UP</span>
            </label>
          </div>
        </div>
        <div class="input-field col s10">
          <i class="material-icons prefix">search</i>
          <input
            type="text"
            name="query"
            placeholder="搜索你想要的内容..."
            class="validate"
          />
        </div>
        <div class="input-field col s2">
          <a class="waves-effect waves-light btn pink lighten-2">搜索</a>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="chip">Total number: {{ paginator.count }}</div>
      {% for up in current_page %}
      <div class="card horizontal hoverable">
        <div class="card-image valign-wrapper">
          <img
            src="{{ up.face }}@256w_256h_1c_1s.webp"
            alt="cover"
            height="128px"
          />
        </div>
        <div class="card-stacked">
          <div class="card-content" style="padding: 12px">
            <h6 class="header">{{ up.name }}</h6>
          </div>
          <div class="card-action">
            <a href="show/{{ up.id }}/">详细信息</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <br />
    </div>

    <div class="container">
      <div class="row valign-wrapper">
        <div class="col s7" style="padding: 0px">
          <div class="right">
            <ul class="pagination">
              {% if current_page.has_previous %}
              <li class="waves-effect">
                <a href="?page={{ current_page.previous_page_number }}"
                  ><i class="material-icons">chevron_left</i></a
                >
              </li>
              {% else %}
              <li class="disabled">
                <a href="#!"><i class="material-icons">chevron_left</i></a>
              </li>
              {% endif %}
              <span>{{ pagination_text|safe }}</span>
              {% if current_page.has_next %}
              <li class="waves-effect">
                <a href="?page={{ current_page.next_page_number }}"
                  ><i class="material-icons">chevron_right</i></a
                >
              </li>
              {% else %}
              <li class="disabled">
                <a href="#!"><i class="material-icons">chevron_right</i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col s5 valign-wrapper" style="padding: 0px">
          <p>Jump to&nbsp;</p>
          <form method="GET" action="." style="width: 50px">
            <div class="input-field">
              <input
                id="input-page-num"
                type="number"
                name="page"
                class="validate"
                style="margin: 0px"
                min="1"
                max="{{ paginator.num_pages }}"
              />
              <label for="input-page-num">Page</label>
            </div>
          </form>
        </div>
      </div>
      <br /><br />
    </div>

    <footer class="page-footer pink lighten-2">
      <div class="container">
        <div class="row">
          <h5 class="white-text">Bilibili GuiChu Top5000</h5>
          <p class="grey-text text-lighten-4">Made by i207M</p>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          CSS by
          <a class="pink-text text-lighten-3" href="http://materializecss.com"
            >Materialize</a
          >
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/vanilla-back-to-top.min.js' %}"></script>
  </body>
</html>
