{% extends 'search/base.html' %} {% block radio %}
<label>
  <input name="category" value="video" type="radio" />
  <span>Video</span>
</label>
<label>
  <input name="category" value="up" type="radio" checked />
  <span>UP</span>
</label>
{% endblock %} {% block list %}
<div class="container">
  <div class="chip">Total number: {{ paginator.count }}</div>
  <div class="chip">Time usage: {{ time_usage }}ms</div>
  {% for up in current_page %}
  <div class="card horizontal hoverable">
    <div class="card-image valign-wrapper">
      <img
        src="{{ up.face }}@256w_256h_1c_1s.webp"
        alt="cover"
        height="128px"
      />
    </div>
    <div class="card-stacked">
      <div class="card-content" style="padding: 12px">
        <h6 class="header">{{ up.name }}</h6>
      </div>
      <div class="card-action">
        <a href="/up_list/show/{{ up.id }}/">详细信息</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <br />
</div>
{% endblock %}
