{% extends 'search/base.html' %} {% block list %}
<div class="container">
  <div class="chip">Total number: {{ paginator.count }}</div>
  <div class="chip">Time usage: {{ time_usage }}ms</div>
  {% for video in current_page %}
  <div class="card horizontal hoverable">
    <div class="card-image valign-wrapper">
      <img
        src="{{ video.cover }}@960w_600h_1c_1s.webp"
        alt="cover"
        style="max-height: 240px"
      />
    </div>
    <div class="card-stacked">
      <div class="card-content" style="padding-bottom: 12px">
        <h5 class="header" style="margin-bottom: 1em">{{ video.title }}</h5>
        <div class="row" style="margin-bottom: 0px">
          <div class="col s12 m12 l6">
            <a
              class="card horizontal hoverable"
              style="margin-bottom: 0.5rem"
              href="/up_list/show/{{ video.up_id }}/"
            >
              <div class="card-image valign-wrapper">
                <img
                  src="{{ video.up_face }}@96w_96h_1c_1s.webp"
                  alt="cover"
                  height="36px"
                />
              </div>
              <div class="card-stacked">
                <div class="card-content valign-wrapper" style="padding: 6px">
                  <p class="black-text valign">{{ video.up_name }}</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col s12 m12 l6">
            <a
              class="waves-effect waves-light btn pink lighten-2 right"
              href="https://www.bilibili.com/video/{{ video.bvid }}"
              target="_blank"
              style="margin-top: 0.5rem"
              ><i class="material-icons left">play_circle_outline</i>Play</a
            >
          </div>
        </div>
      </div>
      <div class="card-action">
        <a href="/video_list/show/{{ video.aid }}/">详细信息</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <br />
</div>

<div class="container">
  <div class="row valign-wrapper">
    <div class="col s7" style="padding: 0px">
      <div class="right">
        <ul class="pagination">
          {% if current_page.has_previous %}
          <li class="waves-effect">
            <a
              href="?{{ params_encoded }}&page={{ current_page.previous_page_number }}"
              ><i class="material-icons">chevron_left</i></a
            >
          </li>
          {% else %}
          <li class="disabled">
            <a href="#!"><i class="material-icons">chevron_left</i></a>
          </li>
          {% endif %}
          <span>{{ pagination_text|safe }}</span>
          {% if current_page.has_next %}
          <li class="waves-effect">
            <a
              href="?{{ params_encoded }}&page={{ current_page.next_page_number }}"
              ><i class="material-icons">chevron_right</i></a
            >
          </li>
          {% else %}
          <li class="disabled">
            <a href="#!"><i class="material-icons">chevron_right</i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col s5 valign-wrapper" style="padding: 0px">
      <p>Jump to&nbsp;</p>
      <form method="GET" action="#" style="width: 50px">
        <input type="hidden" name="category" value="video" />
        <input type="hidden" name="query" value="{{ request.GET.query }}" />
        <div class="input-field">
          <input
            id="input-page-num"
            type="number"
            name="page"
            class="validate"
            style="margin: 0px"
            min="1"
            max="{{ paginator.num_pages }}"
          />
          <label for="input-page-num">Page</label>
        </div>
      </form>
    </div>
  </div>
  <br /><br />
</div>
{% endblock %}
